<div>
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">User List</a>
      <form class="d-flex" role="search" (ngSubmit)="onSearch()">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search by name"
          [(ngModel)]="searchTerm"
          name="searchTerm"
          (input)="onInput()"
          [ngModelOptions]="{standalone: true}"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
    <table class="table table-striped table-hover table-dark table-bordered table-sm">
      <thead>
      <tr class="even-row-color col">
        <th scope="col" class="table-primary">Id</th>
        <th scope="col">First Name</th>
        <th scope="col" class="table-primary">Last Name</th>
        <th scope="col">Email Address</th>
        <th scope="col" class="table-primary">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of filteredUsers" class="grid_2">
        <td>{{ user.id }}</td>
        <td>
          <div *ngIf="user.isEdit">
            <input type="text" [(ngModel)]="user.firstName" />
          </div>
          <div *ngIf="!user.isEdit">
            {{ user.firstName }}
          </div>
        </td>
        <td>
          <div *ngIf="user.isEdit">
            <input type="text" [(ngModel)]="user.lastName" />
          </div>
          <div *ngIf="!user.isEdit">
            {{ user.lastName }}
          </div>
        </td>
        <td>
          <div *ngIf="user.isEdit">
            <input type="text" [(ngModel)]="user.emailAddress" />
          </div>
          <div *ngIf="!user.isEdit">
            {{ user.emailAddress }}
          </div>
        </td>
        <td class="text-center align-middle">
          <div *ngIf="!user.isEdit" class="btn-group me-2 " role="group" aria-label="First group" >
            <button type="button" class="btn btn-warning" (click)="editUser(user)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
            <button type="button" class="btn-success" (click)="handleOrdersClick(user.id)">Orders</button>
          </div>
          <div *ngIf="user.isEdit" class="btn-group me-2 " role="group" aria-label="First group">
            <button type="button" class="btn btn-success" (click)="saveUser(user)">Save</button>
            <button type="button" class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
          </div>
        </td>
      </tr>
      <tr *ngIf="users.length === 0">
        <td colspan="5" class="text-center">No users found. Add a new user!</td>
      </tr>
      <tr>
        <td></td>
        <td class="align-middle text-center">
          <label>
            <input type="text" [(ngModel)]="newUser.firstName" placeholder="Enter First Name" />
          </label>
        </td>
        <td class="text-center align-middle">
          <label>
            <input type="text" [(ngModel)]="newUser.lastName" placeholder="Enter Last Name" />
          </label>
        </td>
        <td class="text-center align-middle">
          <label>
            <input type="email" [(ngModel)]="newUser.emailAddress" placeholder="Enter Email" />
          </label>
        </td>
        <td class="text-center align-middle">
          <button type="button" class="btn btn-primary" (click)="addUser()">Add User</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


