<div>
  <h2>Product List</h2>

  <div class="table-responsive-sm w-75 p-3 container-fluid">
    <table class="table table-striped table-hover table-dark table-bordered table-sm">
      <thead>
        <tr class="even-row-color col">
          <th scope="col" class="table-primary">Id</th>
          <th scope="col">Size</th>
          <th scope="col" class="table-primary">Weight</th>
          <th scope="col">Name</th>
          <th scope="col" class="table-primary">Price</th>
          <th scope="col" class=>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products" class="grid_2">
          <td>{{ product.id }}</td>
          <td>
            <div *ngIf="product.isEdit">
              <input type="text" [(ngModel)]="product.size" />
            </div>
            <div *ngIf="!product.isEdit">
              {{ product.size }}
            </div>
          </td>
          <td>
            <div *ngIf="product.isEdit">
              <input type="text" [(ngModel)]="product.weight" />
            </div>
            <div *ngIf="!product.isEdit">
              {{ product.weight }}
            </div>
          </td>
          <td>
            <div *ngIf="product.isEdit">
              <input type="text" [(ngModel)]="product.name" />
            </div>
            <div *ngIf="!product.isEdit">
              {{ product.name }}
            </div>
          </td>
          <td>
            <div *ngIf="product.isEdit">
              <input type="text" [(ngModel)]="product.price" />
            </div>
            <div *ngIf="!product.isEdit">
              {{ product.price }}
            </div>
          </td>
          <td class="text-center align-middle">
            <div *ngIf="!product.isEdit" class="btn-group me-2 " role="group" aria-label="First group">
              <button type="button" class="btn btn-warning" (click)="editProduct(product)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
            </div>
            <div *ngIf="product.isEdit" class="btn-group me-2 " role="group" aria-label="First group">
              <button type="button" class="btn btn-success" (click)="saveProduct(product)">Save</button>
              <button type="button" class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
            </div>
          </td>
        </tr>
        <tr *ngIf="products.length === 0">
          <td colspan="5" class="text-center">No product found. Add a new product!</td>
        </tr>
        <tr>
          <td></td>
          <td class="align-middle text-center">
            <label>
              <input type="text" [(ngModel)]="newProduct.size" placeholder="Enter Size" />
            </label>
          </td>
          <td class="text-center align-middle">
            <label>
              <input type="text" [(ngModel)]="newProduct.weight" placeholder="Enter Weight" />
            </label>
          </td>
          <td class="text-center align-middle">
            <label>
              <input type="text" [(ngModel)]="newProduct.name" placeholder="Enter Name" />
            </label>

          </td>
          <td class="text-center align-middle">
            <label>
              <input type="text" [(ngModel)]="newProduct.price" placeholder="Enter Price" />
            </label>
          </td>
          <td>
            <div class="btn-group me-2 " role="group" aria-label="First group">
              <button type="button" class="btn btn-success" (click)="addProduct()">Add</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
